<<<<<<< HEAD
.chat-box.card-body{
=======
/* .card-body{
>>>>>>> 08b87fb0c3b9bc39dea710353af63a7ecc14decb
    overflow: auto;
    max-height: 400px;
} */

.messenger-search.card{
    margin-bottom:0px;
}

.list-group-container{
    position: relative; 
}

.friend-search-result.list-group{
    position: absolute;
    overflow: auto;
    max-height: 350px;
    z-index: 1;
    width: 100%;
}
.hide-list-group-container{
    display: none;
}

