.messenger-container.row{
    margin:0;
    padding-top:10px;
}

.messenger-search.card{
    margin-bottom:0px;
}

.list-group-container{
    position: relative; 
}

.friend-search-result.list-group{
    position: absolute;
    overflow: auto;
    max-height: 350px;
    z-index: 1;
    width: 100%;
}
.hide-list-group-container{
    display: none;
}

