/* .profile-container.row{
    margin: 0;
}

.profile-container .col-lg-3{
    border-right: solid 3px #388087;
    background-color: #BADFE7;

}
.profile.margin-top{
    margin-top: 10px;
}

.profile.card{
    position : sticky;
    top:85.5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */
